/*#wrap{
	margin-top: 50px;
}

*/


body {
	margin:0;
	padding:0;
	height:100%;
}

body{
	/*margin-top: 50px;*/
	/*padding-top: 50px;*/
	overflow-x: hidden; 
	/*overflow: hidden;*/
	background-color: #efefef;

    padding-bottom: 30px;

}

#wrapper{
	min-height:100%;
	position:relative;
	/*padding-bottom: 30px;*/
}

#footer{
	padding-top: 20px;
	padding-bottom: 20px;
	box-shadow: inset 0px 0px 0px black;
	position: absolute;

	height: 250px;
	background-color: rgb(186, 186, 186);
	width:100%;

	bottom:0;
	left:0;
}
.row{
	margin-right: 0;
}

/*#mypic{
	background-image: url('../static/img/profile.jpg') no-repeat center center fixed;
	height: 300;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

#bg { 
	position: fixed;
	top: 0; 
	right: 0;
	/*z-index: -1;*/
	/*width: 100%;*/
}
.bgwidth { width: 100%; }
.bgheight { height: 100%; }
/*.bgheightmini{height: }*/

#cover-photo{
	max-height: 400px;
}

.projectPic{
	max-width: 95%;
	max-height: 350px;
	margin-top: 10px; 
}
.read-more-icon{
	float:left; 
	width:15;
	margin-right: 3px;
}

#profilePic{
	/*float: left;*/
	max-width: 200px;
	border-radius: 50%;
	margin-right: 10px;
}

.navbar-brand{
	font-size: 15px;
	font-weight: 100;
}
h1,h2,h3,h4,h5,h6,p{
/* 	font-family: monospace; */
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   /*font-weight: 300;*/
	color: black;
}

.navbar-collapse ul{
	font-weight: 200;
}

.navbar-toggle{
	margin-top: 20px;
}

.nav-icon{
	height: 30px;
}


#content{
	background-color: #EFEFEF;
	margin-top: 25px;
	/*box-shadow: 0px 0px 26px black;*/
	position: relative;
	padding-bottom: 350px;

}

#projectsViewer, #aboutcolumn{
	margin-top: 0px;
	/*background-color: white;*/
	padding-right: 0px;
}

#aboutcolumn{
	padding-top: 20px;
	text-align: center;
	background-color: white;
}
#aboutcolumn p{
	text-align: left;
}

.about-content{
	text-align: center;
}
.about-content p{
	text-align: left;
}
.tags{
	/*margin-left: 15px;*/
	margin-top: 5px;
	text-align: left;
}
.tags a{
	margin-bottom: 15px;
}
.tags a:hover{
    text-decoration: none;
}
.tags a span:hover{
	background-color: black;
}

.project-header{
	position: relative;
}

.project-header h3{
	margin-top: 0;
}

.dates{
	font-weight: 200;
	color: darkgray;
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: right;
}

.description{
	float: left;
	width: 100%;
}
#projectsList{
	list-style: none;
	color: white;
	padding-left: 0;
}
#projectsList li{
	margin-bottom: 15px;
}
#projectsList li .description{
	text-align: left;
}

#projectsList .li:hover{
	text-decoration: underline;
}

.card{
	background-color: white;
	border: solid;
	border-width: 1px;
	border-color: rgb(223, 224, 228);
	border-radius: 3px;
	border-bottom: 2px inset #c7c7c7;
	padding: 20px;
}

.navbar{
	opacity: .9;
	/*position: absolute;*/
}

#home-btn{
	margin-top: 10px;
}

.project-images{
	max-width: 100%;
}

#content-box{
	padding: 20px;

}

.navbar-brand,
.navbar-nav li a {
    line-height: 75px;
    height: 75px;
    padding-top: 0;
    font-size: 20px;

}

#menu{
	list-style: none;
	padding-left: 0px;
	/*background-color: white;*/
	margin-top: 10px;

}
#menu li{
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	font-size: 20px;
	/*font-weight: 100;*/

}
#menu a{
	color: black;
}

.navbar li:hover{
	/*background-color: lightgrey;*/
	color: white;

}

.menu-hover{
	border-bottom: solid;
	border-color: rgba(122, 255, 158, 0.39);
}

.active{
	border-bottom-style: solid;
	border-color: rgb(122, 255, 158);
}

.login{
	color: #887667
}



.messages{
	margin-top: 25px;

}
.messages ul{
	list-style: none;
	
}

#close-messages{
	position: absolute;
	top: 0;
	right: 0;
	width: 25;
}
#close-messages:hover{
	cursor: pointer;
	cursor: hand;
}

#find-me{
	list-style: none;
	padding-left: 0;

}


#find-me li a img{
	float: left;
}
#find-me li a p{
	padding-left: 40px;
}
#find-me li a:hover{
	text-decoration: none;
}

#about-social-icons{
	list-style: none;
	padding-left: 0;
}
#about-social-icons li{
	display: inline;
	margin-right: 5px;

}

