#wrap{
	position:relative;
}


body {
	margin:0;
	padding:0;
	height:100%;
}

body{
	/*margin-top: 50px;*/
	/*padding-top: 50px;*/
	/*overflow-x: hidden; */
	/*overflow:hidden;*/
	/*background-color: #efefef;*/

    /*padding-bottom: 30px;*/

}

a{
	color: black;
}

ul{
	padding: 0;
}

#footer{
	padding-top: 20px;
	padding-bottom: 20px;
	box-shadow: inset 0px 0px 0px black;
	position: absolute;
	/*background-color: rgb(186, 186, 186);*/
	width:100%;

	bottom:0;
	left:0;
}
#footer .container{
	border-top: solid lightgrey 1px;
}


/*#mypic{
	background-image: url('../static/img/profile.jpg') no-repeat center center fixed;
	height: 300;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

#bg { 
	position: fixed;
	top: 0; 
	right: 0;
	/*z-index: -1;*/
	/*width: 100%;*/
}
.bgwidth { width: 100%; }
.bgheight { height: 100%; }
/*.bgheightmini{height: }*/

#cover-photo{
	max-height: 400px;
}

.projectPic{
	/*max-height: 200px;*/
}



#projectsList .project-item{
	  max-width: 50%;
  margin-right: 0;
  float: left;
  min-width: 200px;
}
.img-wrapper{
	max-height: 200px;
	/*width: 300px;*/
	overflow:hidden;
}


.read-more-icon{
	float:left; 
	width:15;
	margin-right: 3px;
}

#profilePic{
	/*float: left;*/
	max-width: 220px;
	 /*border-radius: 50%; */
	padding: 0:;
	margin-right: 10px;
/* 	box-shadow: 0px 4px 13px rgba(0,0,0,0.29); */
}
#aboutPic{
	padding: 0;
	width: 100%;
}
.row{
	width: 100%;
	margin: 0;	
}

.navbar-brand{
	font-size: 15px;
	font-weight: 200;
	color: black;
}
h1,h2,h3,h4,h5,h6,p,body div{
/* 	font-family: monospace; */
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
	font-family: 'Merriweather', serif;
	/*font-family: ratio;*/
   /*font-weight: 300;*/
	color: black;
}


#navbuttons{
	text-align: center;
	padding: 30px;
	font-size: 18;
}

#navbuttons div span{
	padding: 12px;
}

#navbuttons a:hover{
	text-decoration: none;
	color: black;
}

.nav-icon{
	height: 30px;	
}

#content{
	/*background-color: #EFEFEF;*/
	margin-top: 25px;
	/*box-shadow: 0px 0px 26px black;*/
	position: relative;
	padding-bottom: 250px;
	padding-top: 0px;
}

.container{
}


#aboutcolumn{
	padding-top: 20px;
	/*padding-right: 10px;*/
	text-align: center;
}
#aboutcolumn p{
	text-align: left;
}

.about-content{
	text-align: center;
}
.about-content p{
	text-align: left;
}
.tags{
	/*margin-left: 15px;*/
	margin-top: 5px;
	text-align: left;
}
.tags a{
	margin-bottom: 15px;
}
.tags a:hover{
    text-decoration: none;
}
.tags a span:hover{
	background-color: black;
}

.project-header{
	position: relative;
}

.project-header h3{
	margin-top: 0;
	padding-left: 0;
	color: white;
}

.dates{
	font-weight: 200;
	color: darkgray;
	position: absolute;
	bottom: 40;
	right: 0;
	text-align: right;
	font-size: 10;
}

.description{
	float: left;
	width: 100%;
}
#projectsList{
	list-style: none;
	color: white;

}
#projectsList .col-sm-3{
}

#projectsList div .description{
	width: 100%;
  height: 50%;
  background-color: black;
  opacity: .7;
  z-index: 200;
  bottom: 0
}

.description_content{
	text-align: left;
  
  /* position: absolute; */
  top: 20;
  padding: 10px;
  color: inherit;
  opacity: 1;
  
  
}

.description_content p, .description_content div a h3{
	color:white;
}

.description a{
	color: white;
	text-decoration: none;
}

#projectsList .div:hover{
	text-decoration: underline;
}

.card{
	/*background-color: #f2f2f2;*/
/*	border: solid;
	border-width: 1px;
	border-color: rgb(223, 224, 228);
	border-radius: 3px;
	border-bottom: 2px inset #c7c7c7;
	padding: 20px;*/
	-webkit-transition: box-shadow 100ms linear, top 100ms linear;
	transition: box-shadow 100ms linear, top 100ms linear;
	margin-bottom: 45px;


}

/*
#projectsList {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
  
}
*/
.item {
 display: inline-block;
 padding:  .25rem;
 width:  100%; 
}

.well {
 position:relative;
 display: block;
}

.navbar{
	opacity: .97;
	margin-top: 5%;
	/*position: absolute;*/
	/*font-family: 'Josefin Sans', sans-serif;*/
	font-family: 'Alegreya Sans SC', sans-serif;
}

.navbar .navbar-nav {
  display: inline;
}


#home-btn{
	margin-top: 10px;
}

.project-images{
	max-width: 100%;
}


.navbar-brand,
.navbar-nav li a {
    line-height: 75px;
    height: 75px;
    padding-top: 0;
    font-size: 20px;
}
.brand{
	margin-bottom: 30px;
}

span.center{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.navbar-nav li{
	float: left;
}

.navbar-brand span{
	float: right;
	padding-left: 10px;
}

#menu{
	list-style: none;
	padding-left: 0px;
	/*background-color: white;*/
	margin-top: 10px;

}
#menu li{
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	font-size: 20px;
	/*font-weight: 100;*/

}
#menu a{
	color: black;
}

.navbar li:hover{
	/*background-color: lightgrey;*/
	color: white;

}

.brand{
	text-align: center;
	font-size: 35;
}

.menu-hover{
	border-bottom: solid;
	border-color: grey;
	color: black;
}

.active{
	border-bottom-style: solid;
	border-color: black;
}

.login{
	color: #887667
}



.messages{
	margin-top: 25px;

}
.messages ul{
	list-style: none;
	
}

#close-messages{
	position: absolute;
	top: 0;
	right: 0;
	width: 25;
}
#close-messages:hover{
	cursor: pointer;
	cursor: hand;
}

#find-me{
	list-style: none;
	padding-left: 0;

}


#find-me li a img{
	float: left;
}
#find-me li a p{
	padding-left: 40px;
	padding-top: 4px;
}
#find-me li a:hover{
	text-decoration: none;
}

#about-social-icons{
	list-style: none;
	padding-left: 0;
}
#about-social-icons li{
	display: inline;
	margin-right: 5px;

}.label{
	padding-top: 2px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 4px;
}

.col-half{
	width: 50%;
	float: left;
}
.navbar-brand svg{
	fill: rgb(101, 101, 101);
	width: 30px;
}


/* Change the font-size and you'll see all proportional */
/* Some cool theming for the tag */
.theme, .tag, .tag:before, .tag:after {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  border-color: #777;
  border-style: solid;
  background-color: #fff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -moz-linear-gradient(#ffffff, #dddddd);
  background-image: -webkit-linear-gradient(#ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #dddddd);
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

/* All the necesary for making the tag */
.tag {
  display: block;
  float: left;
  text-decoration: none;
  font-size: 15px;
  padding: 7.5px 10px;
  line-height: 1;
  position: relative;
  margin-left: 11.25px;
  border-width: 1px 1px 1px 0;
  -moz-border-radius: 0 3.75px 3.75px 0;
  -webkit-border-radius: 0;
  border-radius: 0 3.75px 3.75px 0;
}
.tag:before, .tag:after {
  content: "";
  position: absolute;
  display: block;
  border-width: 1px;
}
.tag:before {
  z-index: -1;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 0px;
  -moz-transform: translate(-16px, -1px) scale(0.70711, 0.70711) rotateZ(-45deg);
  -ms-transform: translate(-16px, -1px) scale(0.70711, 0.70711) rotateZ(-45deg);
  -webkit-transform: translate(-16px, -1px) scale(0.70711, 0.70711) rotateZ(-45deg);
  transform: translate(-16px, -1px) scale(0.70711, 0.70711) rotateZ(-45deg);
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 0 0 0;
}
.tag:after {
  top: 10.25px;
  left: -5px;
  width: 7.5px;
  height: 7.5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #7db9e8;
}

/* Some extra shadow :) */
.tag, .tag:before {
  -moz-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.15);
}

.tag:after {
  -moz-box-shadow: inset 2px 3px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 2px 3px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 2px 3px 3px rgba(0, 0, 0, 0.15);
}


@media (min-width: 991px)
.description-mini {
	display: block
}
