/*#wrap{
	margin-top: 50px;
}

*/

html{
	background-color: #efefef;
}

body{
	/*margin-top: 50px;*/
	padding-top: 50px;
	overflow-x: hidden; 
	/*overflow: hidden;*/
	background-color: #efefef;
}

#footer{
	padding-bottom: 10px;
	box-shadow: inset 0px 0px 0px black;
}
.row{
	margin-right: 0;
}

/*#mypic{
	background-image: url('../static/img/profile.jpg') no-repeat center center fixed;
	height: 300;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

#bg { 
	position: fixed;
	top: 0; 
	right: 0;
	/*width: 100%;*/
}
.bgwidth { width: 100%; }
.bgheight { height: 100%; }
/*.bgheightmini{height: }*/

#cover-photo{
	max-height: 400px;
}

.projectPic{
	max-width: 95%;
	max-height: 350px;
}

#profilePic{
	width: 90%;
	max-width: 200px;
	border-radius: 50%;
	margin: auto;
}

.navbar-brand{
	font-size: 15px;
	font-weight: 100;
}
h1,h2,h3,h4,h5,h6,p{
/* 	font-family: monospace; */
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   /*font-weight: 300;*/
	color: black;
}

.navbar-collapse ul{
	font-weight: 100;
}



#content{
	background-color: #EFEFEF;
	margin-top: 25px;
	/*box-shadow: 0px 0px 26px black;*/
	margin-bottom: 30px;
	padding-right: 0;
	padding-left: 20px;
}

#projectsViewer, #aboutcolumn{
	margin-top: 0px;
	/*background-color: white;*/
}

#aboutcolumn{
	padding-top: 20px;
	text-align: center;
	background-color: white;
}
#aboutcolumn p{
	text-align: left;
}

.about-content{
	text-align: center;
}
.about-content p{
	text-align: left;
}
.tags{
	/*margin-left: 15px;*/
	margin-top: 5px;
	text-align: left;
}
.tags a{
	margin-bottom: 15px;
}
.tags a:hover{
    text-decoration: none;
}
.tags a span:hover{
	background-color: black;
}

.project-header{
	position: relative;
}

.dates{
	font-weight: 200;
	color: darkgray;
	position: absolute;
	bottom: 0;
	right: 0;
}

.description{
	float: left;
	width: 100%;
}
#projectsList{
	list-style: none;
	color: white;
	padding-left: 0;
}
#projectsList li{
	/*width: 300px;*/
	padding-bottom: 5px;
	border-bottom: 1px inset #c7c7c7;
	background-color: white;
/*
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
*/
	padding: 15px;
	margin-bottom: 10px;
	/*text-align: center;*/
}
#projectsList li .description{
	text-align: left;
}

#projectsList .li:hover{
	text-decoration: underline;
}

.navbar{
	opacity: .9;
	/*position: absolute;*/
}

#home-btn{
	margin-top: 10px;
}

.project-images{
	max-width: 100%;
}

#content-box{
	/* border: 1px solid #c0bfbf; */
 	background-color: white; 
	/*margin-top: 40px;*/
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 3px;
	box-shadow: 0px 0px 25px rgba(0,0,0,0.6)
}

.navbar-brand,
.navbar-nav li a {
    line-height: 75px;
    height: 75px;
    padding-top: 0;
    font-size: 20px;
}

#menu{
	list-style: none;
	padding-left: 0px;
	/*background-color: white;*/
	margin-top: 10px;

}
#menu li{
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	font-size: 20px;
	/*font-weight: 100;*/

}
#menu a{
	color: black;
}

.navbar li:hover{
	background-color: lightgrey;
}

.active{
	border-bottom-style: solid;
	border-color: rgb(122, 255, 158);
}