{% extends 'layout.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2 main">
        
        <div id="" class="about-content row">
        	<DIV class="col-sm-6">
        		<img id='aboutPic'  src="/static/img/Morgan-Wallace.jpg" >
     			<p>Photo credit: <a href="http://matthewmorgan.net/">Matthew Morgan</a></p>
        	</DIV>
			
			<div class="col-sm-6">
				<p ><strong>Professionally</strong>, I am an entrepreneur and software developer in the San Francisco Bay Area. I recently graduated from UC Berkeley's School of Information with a Masters in Information Management and Systems.</p>

				<p><strong>Personally</strong>, I love the outdoors and being physically active. You can check out my <a href='http://app.strava.com/athletes/1838494'>bike rides and runs on Strava</a>. You might also see me hiking around the bay or snowboarding in Tahoe and Utah.</p>
				<br>
				<p><strong>Summary</strong> I make wearables, develop web applications, and love the outdoors.</p>
				
				
			</div>

			
		</div>
	</div>
</div>
{% endblock %}