{% extends 'layout.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2 main">
        
        <div id="" class="about-content card">
			<img id='profilePic' src="/static/img/Profile_square.jpg" style="margin-bottom: 5px;">
			<p>I am an entrepreneur and software developer (check out my <a href="http://www.github.com/morganwallace">GitHub profile</a>) in the San Francisco Bay Area. I recently graduated from UC Berkeley's School of Information with a Masters in Information Management and Systems.</p>
			<p>From user interviews, to data science, to rapid prototyping, I know what it takes to make something from nothing.</p>

			<p>I love the outdoors. You can check out my <a href='http://app.strava.com/athletes/1838494'>bike rides and runs on Strava</a>. You might also see me hiking around the bay or snowboarding in Tahoe and Utah.</p>


			
		</div>
	</div>
</div>
{% endblock %}