{% extends 'layout.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 main">
		<h3>Adding a Project</h3>
	      <form id='add-project form-horizontal'>
	          <input type="text" name="title" value="" class="form-control input-lg" placeholder="project Title"  />
	          <br>
	          <textarea name="body" value="" id='project-body' class = "form-control input-lg"></textarea>
	          <input type="text" name="snippet" value="" class="form-control input-lg" placeholder="snippet (for homepage)"  />
	          <input type="text" name="projectType" value="" class="form-control input-lg" placeholder="project type"  />
	          <input type="text" name="tags" value="" class="form-control input-lg" placeholder="Comma separated tags (e.g. 'vizualization,game,python')"  />
	          <input type="text" name="externalLink" value="" class="form-control input-lg" placeholder="link to project (e.g. http://www...)"  />
	          <input type="text" name="imagesLinks" value="" class="form-control input-lg" placeholder="comma separated names of images files in 'static/img/'"  />
	          <input type="text" name="date" value="" class="form-control input-lg" placeholder="date of project (e.g. month/day/year 11/27/1987)"  />
	          <!-- Test out plain text -->
	          <!-- <textarea name="body" id='project-body-plain' class = "form-control input-lg"></textarea> -->
	          <br>
	          <button class="btn btn-lg btn-primary btn-block" >Save My project</button>
	      </form>
		</div>
	</div>
</div>
{% endblock %}