<div id='footer'>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h4>Credits</h4>
				<p id="site-description">Site made by Morgan Wallace using Flask, Heroku, Postgres, HTML, CSS, JavaScript, Jquery, git, GitHub, SublimeText 3. <br>Special thanks to the Flask community for developing great extentions like Flask-Migrate and Flask-Login. Entypo pictograms by Daniel Bruce — <a href='www.entypo.com'>www.entypo.com</a>.<br>Check out my whole project <a href='/project/portfolio-site'>here</a>.</p>
			</div>
			<div class="col-sm-4">
				<h4>Find me on</h4>
				<ul id="find-me">
					<div class="row">
						<div class="col-half">
					<!-- Entypo pictograms by Daniel Bruce — www.entypo.com -->
						  <li><a href="http://www.linkedin.com/in/morganmwallace" target="_blank"><img class="nav-icon social-icon" src="../static/img/linkedin.png"><p> LinkedIn</p></a></li>
				          <li><a href="http://www.twitter.com/wallacemorgan" target="_blank"><img src="../static/img/twitter.svg" class="nav-icon social-icon"><p>  Twitter</p></a></li>
				          <li><a href="http://www.github.com/morganwallace" target="_blank"><img class="nav-icon social-icon" src="../static/img/github.svg"><p>  Github</p></a></li>
				          <li><a href="http://www.facebook.com/morganmwallace" target="_blank"><img class="nav-icon social-icon" src="../static/img/facebook.svg"><p>  Facebook</p></a></li>
				        </div>
				        <div class="col-half">
				          <li><a href="http://blog.morganwallace.com"><img src="../static/img/wearable.svg" class="nav-icon social-icon"><p>my wearable tech blog</p></a></h4></li>
				          <li><a href="https://plus.google.com/u/0/+MorganWallacemorganwallace1" target="_blank"><img class="nav-icon social-icon" src="../static/img/google+.svg"><p>  Google +</p></a></li>
				          <li><a href="http://instagram.com/morganmwallace/" target="_blank"><img class="nav-icon social-icon" src="../static/img/instagram.svg"><p>  Instagram</p></a></li>
				          <li><a href="http://www.yelp.com/user_details?userid=8VMZiAzajQsc2eIdrTrSAA" target="_blank"><img class="nav-icon social-icon" src="../static/img/yelp.svg"><p>  Yelp</p></a></li>
			          </div>
			        </div>
				</ul>
			</div>
			
		</div>
	</div>
</div>