<div id='footer'>
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<h4>Credits</h4>
				<p id="site-description">Site made by Morgan Wallace using Flask, Heroku, Postgres, HTML, CSS, JavaScript, and Jquery. <br>Entypo pictograms by Daniel Bruce — <a href='www.entypo.com'>www.entypo.com</a>.
				<br>
				About picture by <a href="http://matthewmorgan.net/">Matthew Morgan</a>.
				<br>Check out my whole project <a href='/project/portfolio-site'>here</a>.</p>
				</p>
			</div>
			<div class="col-sm-4 col-sm-offset-1">
				{% include 'social.html' %}
			</div>
			
		</div>
	</div>
</div>