

<!-- <div class="navbar navbar-default navbar-fixed-top" role="navigation"> -->
<header class="navbar " role="navigation">
	<div class="container row">
	  	<div class="col-md-12 brand tk-lato">Morgan Wallace</div>
	      <!-- <div class="navbar-collapse collapse"> -->
	    <div class="" id="navbuttons">
	    	

        		<div class="center">
	          		<span  id="menu-project"><a href="/">Work</a></span>
	          		<span  id="menu-about"><a href="/about">About</a></span>
	          	</div>
	        
	    </div>
	</div>
</header>