{% extends 'layout.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<style type="text/css">
	body{
		margin-top: 0px;
		margin-left: 0;
		margin-right: 0;
	}
	.navbar{
		margin-bottom: 0;
	}

</style>

	<img id="bg" src='../static/img/longface.jpg'>

<div class="container-fluid">
	<div  class="row">
		<div class="col-sm-6 col-sm-offset-1" id="projectsViewer">
			<h2 id="projects">Projects</h2>
			<ul id="projectsList">
				{% for project in projectsList %}
					
					<li class="row">
						<a href="/project/{{project.title.lower()}}">
							<div class="description ">
								<div class="description_content">
									<div class="row">
										<p class="col-sm-8">{{project.title}}</p>
										<p class="col-sm-4 dates">{{project.date}}</p>
									</div>
									<p>{{project.snippet}}</p>
								</div>
							</div>
							<img class="projectPic " src="static/img/{{project.imagesLinks}}">
						</a>
						<div class="tags">
							{% for tag in project.tags %}
								<!-- <span class="col-sm-6"> -->
									<span class="label label-default">{{tag}}</span>
								<!-- </span> -->
							{% endfor %}
						</div>
					</li>
					
				{% endfor %}
			</ul>
		</div>
	</div>
</div>



{% endblock %}