<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Morgan Wallace's Personal Homepage">
    <meta name="author" content="Morgan Wallace">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Morgan Wallace's Personal Homepage">
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    {% if pageTitle %}
      <title>{{ pageTitle }} - Morgan Wallace</title>
    {% else %}
      <title>Morgan Wallace</title>
    {% endif %}
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../static/css/style.css" rel="stylesheet">
    <!-- jQuery -->
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script src="//load.sumome.com/" data-sumo-site-id="7c42bff1c75fdef0adbf08fd858af85afa72c87fc50b05e6c77cd6655f78af3b" async="async"></script>
  </head>

  
  <body>
    <div id="wrap">
      <!-- <div class="navbar navbar-inverse" role="navigation"> -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <svg version="1.1" id="svg_logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"width="121.743px" height="74.161px" viewBox="0 0 121.743 74.161" enable-background="new 0 0 121.743 74.161" xml:space="preserve"   >
                  <g id="logoPartLeft">
                    <line fill="#FFFFFF" x1="7.691" y1="67.016" x2="28.643" y2="7.145"/>
                    <g>
                      <path d="M14.923,69.01c6.984-19.958,13.968-39.915,20.952-59.872c3.204-9.154-11.291-13.056-14.464-3.987
                        C14.427,25.108,7.443,45.065,0.459,65.022C-2.744,74.177,11.75,78.078,14.923,69.01L14.923,69.01z"/>
                    </g>
                  </g>
                  <g>
                    <line fill="#FFFFFF" x1="28.643" y1="7.145" x2="50.018" y2="67.016"/>
                    <g>
                      <path d="M21.411,9.138c7.125,19.958,14.25,39.915,21.375,59.872c3.228,9.041,17.725,5.146,14.464-3.988
                        C50.125,45.065,43,25.108,35.875,5.151C32.647-3.89,18.15,0.005,21.411,9.138L21.411,9.138z"/>
                    </g>
                  </g>
                  <g>
                    <line fill="#FFFFFF" x1="50.018" y1="67.016" x2="71.287" y2="7.145"/>
                    <g>
                      <path d="M57.25,69.01c7.09-19.958,14.18-39.915,21.27-59.872C81.766,0,67.269-3.897,64.055,5.151
                        c-7.09,19.957-14.18,39.914-21.27,59.871C39.539,74.161,54.036,78.058,57.25,69.01L57.25,69.01z"/>
                    </g>
                  </g>
                  <g>
                    <line fill="#FFFFFF" x1="71.287" y1="7.145" x2="92.661" y2="67.016"/>
                    <g>
                      <path d="M64.055,9.138C71.18,29.096,78.304,49.053,85.429,69.01c3.228,9.041,17.724,5.146,14.464-3.988
                        c-7.125-19.957-14.25-39.914-21.375-59.871C75.292-3.891,60.794,0.005,64.055,9.138L64.055,9.138z"/>
                    </g>
                  </g>
                  <g id='logoPartRight'>
                    <line fill="#FFFFFF" x1="92.661" y1="67.016" x2="114.036" y2="7.145"/>
                    <g>
                      <path d="M99.894,69.01c7.125-19.958,14.25-39.915,21.375-59.872c3.261-9.133-11.236-13.028-14.465-3.987
                        c-7.125,19.957-14.25,39.914-21.375,59.871C82.168,74.156,96.665,78.051,99.894,69.01L99.894,69.01z"/>
                    </g>
                  </g>
                </svg>
                <span>Morgan Wallace</span>  

            </a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              

              <li  id="menu-project"><a href="/">Projects</a></li>
              <!-- <li  id='menu-blog'><a href='/blog'>Blog</a></li> -->
              <li  id="menu-about"><a href="/about">About</a></li>

              <!-- 
              {% if g.user.is_authenticated()%}
                  <li id="menu-logout"><a class="login"  href="{{ url_for('logout') }}">Logout</a></li>
              {% endif %}
              {% if not g.user.is_authenticated()%}
                  <li id="menu-login"><a class="login"  href="{{ url_for('login') }}">Login</a></li>
                  <li id="menu-register"><a class="login"  href="{{ url_for('register') }}">Register</a></li>
              {% endif %} -->
            </ul>
            <!-- <form class="navbar-form navbar-right">
              <input type="text" class="form-control" placeholder="Search...">
            </form> -->
          </div>
        </div>
      </div>

      
      <div class="container" id='content'> 
        {% with messages = get_flashed_messages() %}
          {% if messages %}

            <div class="container">
              <div class="row">
                <div class="col-sm-12 card messages">
                  <!-- <span class="close-messages"> -->
                    <img  id='close-messages' src="../static/img/close.svg">
                  <!-- </span> -->
                  
                  <ul>
                  {% for message in messages %}
                      <li class="message">{{ message }} </li>
                  {% endfor %}
                  </ul>
                </div>
              </div>
                
            </div>

          {% endif %}
        {% endwith %}
      
  
      
        {% block content %}
        {% endblock %}
      </div>
      {% include 'footer.html' %}
    </div>
  </body>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>

    
    <!-- Google Analytics -->
    {% if config.gaID %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{config.gaID}}', 'auto');
        ga('send', 'pageview');

      </script>
    {% endif %}
</html>