<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    {% if pageTitle %}
      <title>{{ pageTitle }} - Morgan Wallace</title>
    {% else %}
      <title>Morgan Wallace</title>
    {% endif %}
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../static/css/style.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style type="text/css"></style><style id="holderjs-style" type="text/css"></style></head>
  <script src="../static/js/jquery.min.js"></script>
  <body>

    <!-- <div class="navbar navbar-inverse" role="navigation"> -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Morgan Wallace</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            

            <li  id="menu-project"><a href="/">Projects</a></li>
            <li  id='menu-blog'><a href='/blog'>Blog</a></li>
            <li  id="menu-about"><a href="/about">About</a></li>
            <!-- <span id="social-links"> -->
              <li><a href="http://www.linkedin.com/in/morganmwallace" target="_blank"><img class="nav-icon social-icon" src="../static/img/linkedin.png"></a></li>
              <li><a href="http://www.twitter.com/wallacemorgan" target="_blank"><img src="../static/img/twitter.svg" class="nav-icon social-icon"></a></li>
              <li><a href="http://www.github.com/morganwallace" target="_blank"><img class="nav-icon social-icon" src="../static/img/octocat.svg"></a></li>
            <!-- </span> -->
            
            {% if g.user.is_authenticated()%}
                <li id="menu-logout"><a class="login"  href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
            {% if not g.user.is_authenticated()%}
                <li id="menu-login"><a class="login"  href="{{ url_for('login') }}">Login</a></li>
                <li id="menu-register"><a class="login"  href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
          </ul>
          <!-- <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form> -->
        </div>
      </div>
    </div>

    
     
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="container row">
          <div class="col-sm-10 col-sm-offset-1 card messages">
            <!-- <span class="close-messages"> -->
              <img  id='close-messages' src="../static/img/close.svg">
            <!-- </span> -->
            
            <ul>
            {% for message in messages %}
                <li class="message">{{ message }} </li>
            {% endfor %}
            </ul>
          </div>
            
        </div>

      {% endif %}
    {% endwith %}
    

<div class="container" id='content'>

          



  {% block content %}
  {% endblock %}


</div>
</body>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/main.js"></script>

    
    <!-- Google Analytics -->
    {% if gaID %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{gaID}}', 'auto');
        ga('send', 'pageview');

      </script>
    {% endif %}
</body></html>