{% from "macros.html" import format_date with context %}
<div id="projectsList" class="row" >
        {% for project in projectsList %}
          <div class="col-md-3 project-item">
              <div class="card" style="position:relative">
                <!-- <li class="row card col-md-5 item"> -->
                <div class="img-wrapper" >
                    <a href="/project/{{project.title.lower().replace(' ','-')}}">
                        <img class="projectPic " src="{{url_for('static', filename='img/'+project.thumbnail)}}">
                    </a>
                    
                </div>
                <div class="description " style="position:absolute;" hidden>
                    <a href="/project/{{project.title.lower().replace(' ','-')}}">
                        <div class="description_content">
                            
                            <p>{{project.snippet}}</p>
                        
                        </div>
                    </a>
                </div>
                <a href="/project/{{project.title.lower().replace(' ','-')}}">
                	<h5 class="col-sm-12">{{project.title.title()}}</h5>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
<script type="text/javascript">

	$(".card").hover(function(){
	    $(this).children(".description").show();
	},function(){
	    $(this).children(".description").fadeOut(100);
	})


</script>