{% extends 'layout.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 main">
        <a href="/" >
          <span id="home-btn" class="btn-default btn">
            <div class="glyphicon glyphicon-home"></div>      Return Home</span>
        </a>
        <h1 class="page-header project-title">{{title}}</h1>
          <p>{{body}}</p>
          {% if externalLink %}
          <br>
            <a href="{{externalLink}}" class="navbar-btn project-link btn-success btn">
             <div class="glyphicon glyphicon-star"></div>  View {{title}}
            </a>
          {% endif %}
          {% for piclink in imagesLinks %}
          <br><br>
          	<img class="project-images" src="../static/img/{{piclink}}">
          {% endfor %}
    </div>
  </div>
</div>
{% endblock %}