<ul id="about-social-icons">
	<li><h4>Find me on: </h4></li>
	<li><a href="http://www.linkedin.com/in/morganmwallace" title="LinkedIn Profile" class="mytooltip" target="_blank"><img class="nav-icon social-icon" src="../static/img/linkedin.png"></a></li>
	 <li><a href="http://www.twitter.com/wallacemorgan" title="Twitter Profile" target="_blank"><img src="../static/img/twitter.svg" class="nav-icon social-icon"></a></li>
	<li><a href="http://www.github.com/morganwallace" title="GitHub Profile" target="_blank"><img class="nav-icon social-icon" src="../static/img/github.svg"></a></li>
	<li><a href="http://www.facebook.com/morganmwallace" title="Facebook Profile" target="_blank"><img class="nav-icon social-icon" src="../static/img/facebook.svg"></a></li>
	<li><a href="https://plus.google.com/u/0/+MorganWallacemorganwallace1" title="Google+ Profile"target="_blank"><img class="nav-icon social-icon" src="../static/img/google+.svg"></a></li>
	<li><a href="http://instagram.com/morganmwallace/" title="Instagram Profile" target="_blank"><img class="nav-icon social-icon" src="../static/img/instagram.svg"></a></li>
	<li><a href="http://www.yelp.com/user_details?userid=8VMZiAzajQsc2eIdrTrSAA" title="Yelp Profile" target="_blank"><img class="nav-icon social-icon" src="../static/img/yelp.svg"></a></li>
	<!-- <li></li> -->
</ul>
<div><a href="http://blog.morganwallace.com"> Also, read my wearable blog<img src="../static/img/wearable.svg" style=" width:30px; padding-left:10px; "></a></div>